a {
    color: #fff;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 80px;
}

/*Navbar*/
.name-web {
    transition: 0.2s;
}

.name-web:hover {
    transition: .2s;
    opacity: .7;
    color: #fff;
}

.dropdown {
    transition: .6s;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.dropdown:hover > .dropdown-menu {
    display: block;
    transition: .6s;    
}
  
.dropdown>.dropdown-toggle:active {
      pointer-events: none;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end { 
        right:0; 
        left: auto;  
    }
	.navbar .nav-item .dropdown-menu {  
        display:block; 
        opacity: 0;  
        visibility: hidden; 
        transition:.3s; 
        margin-top:0;  }
	.navbar .nav-item:hover .nav-link { 
        color: #fff;  
    }
	.navbar .dropdown-menu.fade-down { 
        top:80%; 
        transform: rotateX(-75deg); 
        transform-origin: 0% 0%;
    }
	.navbar .dropdown-menu.fade-up { 
        top:180%; 
    }
	.navbar .nav-item:hover .dropdown-menu { 
        transition: .3s; 
        opacity:1;
        visibility: visible; 
        top:100%; 
        transform: rotateX(0deg); 
    }
}	

/*Rooms cards*/

.card {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card .bg-image {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.group-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item-card {
    background-color: #fff;
    border: 1px solid gray;
}

.item-left {
    flex: 50%;
    border-radius: 0px;
}

.item-right {
    flex: 50%;
    border-radius: unset;
}

.btn_book    {
    padding: 0 50px;
}

/*Form check*/
.form-group {
    background: #020001;
    border-radius: 60px;
}

.input-group > .form-control
{
    font-size:20px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.input-group > .check-form{
    color: #9b9b9b;
    background: transparent;
    border-color: #FFF;
}

.input-group > .check-form:focus {
    color: #9b9b9b;
    background: transparent;
    border-color: #c5a46d;

    box-shadow: inset 0 0 0 1px #c5a46d;
}

.check-form {
    color: #9b9b9b;
    background: transparent;
    border-color: #FFF;
}

.check-form:focus {
    color: #9b9b9b;
    background: transparent;
    border-color: #c5a46d;
    box-shadow: inset 0 0 0 1px #c5a46d;
}

.icon-calendar {
    padding: 10px;
}

.datepicker-days {
    padding: 10px;
}

.select-box {
    font-size: 20px;
}
